{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "LieroGBG" %} {% trans "add match" %}{% endblock %}
{% block custom_css %}{{ played_game_form.media.css }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <form action="{% url 'rankings.views.submit_game' %}" enctype="multipart/form-data" method="post" role="form" class="form-horizontal">
            {% csrf_token %}
            {% include 'rankings/includes/add_game_form_contents.html' with played_game_form=played_game_form subgame_formset=subgame_formset show_ranked=True %}
            <div class="row">
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-success">{% trans "Add match" %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
{{ played_game_form.media.js }}
{% endblock %}
