{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "LieroGBG" %} {% trans "matches" %}{% endblock %}

{% block submenu %}
{% if user.is_authenticated %}
    <ul class="nav nav-pills navbar-left">
        <li id="add_game" >
            <a href="{% url 'rankings.views.add_game' %}">{% trans "Add match" %}</a>
        </li>
        <li id="add_tournament">
            <a href="{% url 'rankings.views.add_tournament' %}">{% trans "Add tournament" %}</a>
        </li>
    </ul>
{% endif %}
<ul class="nav nav-pills navbar-right">
    <li id="ranking" >
            <a href="{% url 'rankings.views.ranking' %}">{% trans "Ranking" %}</a>
    </li>
    <li id="games" >
            <a href="{% url 'rankings.views.games' %}">{% trans "Matches" %}</a>
    </li>
    <li id="tournaments" >
            <a href="{% url 'rankings.views.tournaments' %}">{% trans "Tournaments" %}</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
    {% include 'rankings/includes/list_games.html' with games=games full=True %}
    </div>
    <div class="col-xs-12">
        {% trans 'The last match was played ' %}<time class="timeago" datetime="{{ last_game_time }}"></time>
    </div>
</div>
{% endblock %}
{% block custom_scripts %}
<script src="{% static 'js/jquery.timeago.js' %}" type="text/javascript"></script>
{% with 'js/jquery.timeago.'|add:LANGUAGE_CODE|add:'.js' as timeago_static %}
    <script src="{% static timeago_static %}" type="text/javascript"></script>
{% endwith %}
<script type="text/javascript">
$(document).ready(function() {
    $(".timeago").timeago();
});
</script>
{% endblock %}
