{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "LieroGBG" %} {% trans "tournaments" %}{% endblock %}

{% block submenu %}
{% if user.is_authenticated %}
    <ul class="nav nav-pills navbar-left">
        <li id="add_game" >
            <a href="{% url 'rankings.views.add_game' %}">{% trans "Add match" %}</a>
        </li>
        <li id="add_tournament">
            <a href="{% url 'rankings.views.add_tournament' %}">{% trans "Add tournament" %}</a>
        </li>
    </ul>
{% endif %}
<ul class="nav nav-pills navbar-right">
    <li id="ranking" >
            <a href="{% url 'rankings.views.ranking' %}">{% trans "Ranking" %}</a>
    </li>
    <li id="games" >
            <a href="{% url 'rankings.views.games' %}">{% trans "Matches" %}</a>
    </li>
    <li id="tournaments" >
            <a href="{% url 'rankings.views.tournaments' %}">{% trans "Tournaments" %}</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Winner" %}</th>
                    <th>{% trans "Number of players" %}</th>
                    <th>{% trans "Number of matches" %}</th>
                    <th>{% trans "Ante percentage" %}</th>
                    <th>{% trans "Total ante" %}</th>
                    <th>{% trans "Finished" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for t in tournaments %}
                {% if t.finished %}
                    <tr class="tournament-link" href="{% url 'rankings.views.view_tournament' t.pk %}">
                {% else %}
                    <tr class="tournament-link" href="{% url 'rankings.views.edit_tournament' t.pk %}">
                {% endif %}
                    <td>{{ t.start_time }}</td>
                    <td>{{ t.name }}</td>
                    <td>{{ t.winner }}</td>
                    <td>{{ t.players }}</td>
                    <td>{{ t.games }}</td>
                    <td>{{ t.ante }}</td>
                    <td>{{ t.total_ante }}</td>
                    <td>
                        {% if t.finished %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block custom_scripts %}
<script type="text/javascript">
$(document).ready(function () {
    'use strict';
    $(".tournament-link").click(function() {
        window.document.location = $(this).attr("href");
    });
});
</script>
{% endblock %}
