{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "About LieroGBG" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h2>Maps</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <strong>Pokol2</strong> by <em>John Biernath</em>
        <p>
        The staple map of the Polish League.
        </p>
    </div>
    <div class="col-xs-9">
        <a href="{% static 'maps/pokol2.lev' %}"><img src="{% static 'img/maps/pokol2.png' %}"></img></a>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <strong>Diamond</strong> by <em>Errol Petersson (Errol)</em><br/>
        Created in 2013.
        <p>
        A map with lots of lighting effects and cluster holes.
        </p>
    </div>
    <div class="col-xs-9">
        <a href="{% static 'maps/DIAMOND.LEV' %}"><img src="{% static 'img/maps/diamond.png' %}"></img></a>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <strong>Temple27</strong> by <em>John Petersson (Poukah)</em><br/>
        Latest version from September 9, 2014.
        <p>
        A remake of the classic map <em>Temple</em> with no sand and several other alterations.
        </p>
    <p>
    The original designer is unknown but the map has lived through other incantations since the beginning of the millenium.
    </p>
    </div>
    <div class="col-xs-9">
        <a href="{% static 'maps/TEMPLE27.LEV' %}"><img src="{% static 'img/maps/TEMPLE27.png' %}"></img></a>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <strong>India2</strong> by <em>Anton Melander (TommyGunn)</em><br/>
        Originally created in 2012.
        <p>
        Got a second version with bunny jumps on September 9, 2014.
        </p>
    </div>
    <div class="col-xs-9">
        <a href="{% static 'maps/INDIA2.LEV' %}"><img src="{% static 'img/maps/INDIA2.png' %}"></img></a>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <strong>BEAM2</strong> by <em>John Petersson (Poukah)</em><br/>
        First released in 2012. Latest version from September 9, 2014.
        <p>
        Inspired by the classic map <em>Stoneage</em> but without sand, thinner beams and a few loopholes.
        </p>
    </div>
    <div class="col-xs-9">
        <a href="{% static 'maps/BEAM2.LEV' %}"><img src="{% static 'img/maps/BEAM2.png' %}"></img></a>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
{% endblock %}

