{% extends "base.html" %}
{% load i18n %}
{% load myfilters %}

{% block title %}{% trans "LieroGBG" %}{% endblock %}
{% block custom_css %}{{ played_game_form.media.css }}{% endblock %}

{% block content %}
<form action="{% url 'index.views.submit_game' %}" enctype="multipart/form-data" method="post" role="form" class="form-horizontal">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            {% trans "Match info" %}
        </div>
        <div class="panel-body">
            {% for field in played_game_form.visible_fields %}
                <div class="form-group">
                    <div class="col-xs-3">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-xs-9">
                        {{ field|addcss:'form-control' }}
                    </div>
                </div>
                {% for field in played_game_form.hidden_fields %}
                    <div style="display:none;">{{ field }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    {{ subgame_formset.management_form }}
    {% for form in subgame_formset %}
        <div class="panel panel-info subgame_item">
            <div class="panel-heading">
                {% trans "Subgame info" %}
            </div>
            <div class="panel-body">
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <div class="col-xs-3">
                            {{ field.label_tag }}
                        </div>
                        <div class="col-xs-9">
                            {{ field|addcss:'form-control' }}
                        </div>
                    </div>
                {% endfor %}
                {% for field in form.hidden_fields %}
                    <div style="display:none;">{{ field }}</div>
                {% endfor %}
                <div>
                    <a class="btn btn-default delete_form" href="">{% trans "Delete subgame" %}</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div>
        <a class="btn btn-default" id="add_form" href="">{% trans "Add subgame" %}</a>
    </div>

    <div class="well">
        <button type="submit" class="btn btn-success">{% trans "Add game" %}</button>
    </div>
</form>
{% endblock %}

{% block custom_scripts %}
{{ played_game_form.media.js }}
{% endblock %}
