{% extends "base.html" %}
{# new url behaviour in Django 1.5 #}
{% load url from future %}

{% load i18n %}
{% load myfilters %}

{% block title %}{% trans "LieroGBG" %}{% endblock %}
{% block custom_css %}{{ tournament_form.media.css }}{% endblock %}

{% block content %}
<form action="{% url 'index.views.submit_tournament' %}" enctype="multipart/form-data" method="post" role="form" class="form-horizontal">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            {% trans "Tournament info" %}
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-xs-3">
                    {{ tournament_form.name.label_tag }}
                </div>
                <div class="col-xs-9">
                    {{ tournament_form.name|addcss:'form-control' }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <label for="id_players">{% trans "Players" %}</label>
                </div>
                <div class="col-xs-9">
                    <span id="id_players" class="form-control">
                        {% for player in tournament_extra_data.players %}
                            {{ player }}
                        {% endfor %}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    {{ tournament_form.total_ante.label_tag }}
                </div>
                <div class="col-xs-9">
                    {{ tournament_form.total_ante|addcss:'form-control' }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    {{ tournament_form.finished.label_tag }}
                </div>
                <div class="col-xs-9">
                    {{ tournament_form.finished|addcss:'form-control' }}
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <button id="id_save_tournament_btn" type="submit" class="btn btn-success">{% trans "Save tournament" %}</button>
    </div>
</form>
{% endblock %}

{% block custom_scripts %}
{{ tournament_form.media.js }}
<script type="text/javascript">
$(document).ready(function () {
    'use strict';
    $("#id_total_ante").attr('readonly', true);
});
</script>
{% endblock %}
