{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "LieroGBG" %}{% endblock %}

{% block content %}
<div>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans "Time" %}</th>
                <th>{% trans "Left player" %}</th>
                <th>{% trans "Left player RP" %}</th>
                <th>{% trans "Right player" %}</th>
                <th>{% trans "Right player RP" %}</th>
                <th>{% trans "Winner" %}</th>
            </tr>
        </thead>
        <tbody>
        {% include 'index/includes/list_games.html' with games=games %}
        </tbody>
    </table>
</div>
{% endblock %}
