{% extends "base.html" %}
{# new url behaviour in Django 1.5 #}
{% load url from future %}

{% load i18n %}

{% block title %}{% trans "LieroGBG" %}{% endblock %}

{% block content %}
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Time</th>
                <th>Left player</th>
                <th>Right player</th>
                <th>Winner</th>
            </tr>
        </thead>
        <tbody>
        {% for g in games %}
            <tr>
                <td>{{ g.0 }}</td>
                <td>{{ g.1 }}</td>
                <td>{{ g.2 }}</td>
                <td>{{ g.3 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-default" href={% url 'index.views.add_game' %}>{% trans "Add game" %}</a>
</div>
{% endblock %}
