{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "About LieroGBG" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h2>Maps</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <strong>Pokol2</strong> by <em>John Biernath</em>
        <p>
        The staple map of the Polish League.
        </p>
    </div>
    <div class="col-xs-9">
        <a href="{{ STATIC_URL }}/maps/pokol2.lev"><img src="{{ STATIC_URL }}/img/maps/pokol2.png"></img></a>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <strong>Diamond</strong> by <em>Errol Petersson</em><br/>
        Created in 2013.
        <p>
        A map inspired by Studio 54.
        </p>
    </div>
    <div class="col-xs-9">
        <a href="{{ STATIC_URL }}/maps/DIAMOND.LEV"><img src="{{ STATIC_URL }}/img/maps/diamond.png"></img></a>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
{% endblock %}

