{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "LieroGBG" %} {% trans "ranking" %}{% endblock %}

{% block content %}
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>{% trans "Player" %}</th>
                <th>{% trans "Ranking points" %}</th>
                <th>{% trans "Pool points" %}</th>
                <th>{% trans "Wins" %}</th>
                <th>{% trans "Losses" %}</th>
                <th>{% trans "Ties" %}</th>
                <th>{% trans "Games" %}</th>
                <th>{% trans "Lives" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for p in players %}
            <tr>
                <td>
                    <img id={{ p.player.color }} class="svg lieroworm" src="{{ STATIC_URL }}/img/lieroworm.svg">
                    </img>
                </td>
                <td>{{ p.current_rank }}</td>
                <td>{{ p.player.name }}</td>
                <td>{{ p.player.ranking_points }}</td>
                <td>{{ p.player.pool_points }}</td>
                <td>{{ p.wins }}</td>
                <td>{{ p.losses }}</td>
                <td>{{ p.ties }}</td>
                <td>{{ p.games }}</td>
                {% if p.lives > 0 %}
                    <td><span class="change_positive">+{{ p.lives }}</span></td>
                {% elif p.lives < 0 %}
                    <td><span class="change_negative">{{ p.lives }}</span></td>
                {% else %}
                    <td>{{ p.lives }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript">
$(document).ready(function () {
    'use strict';

    $('img.svg').each(function(){
        var $img = $(this);
        var imgID = $img.attr('id');
        var imgClass = $img.attr('class');
        var imgURL = $img.attr('src');

        $.get(imgURL, function(data) {
            // Get the SVG tag, ignore the rest
            var $svg = $(data).find('svg');

            // Add replaced image's ID to the new SVG
            if (typeof imgID !== 'undefined') {
                $svg = $svg.attr('id', imgID);
            }
            // Add replaced image's classes to the new SVG
            if (typeof imgClass !== 'undefined') {
                $svg = $svg.attr('class', imgClass + ' replaced-svg');
            }

            // Remove any invalid XML tags as per http://validator.w3.org
            $svg = $svg.removeAttr('xmlns:a');

            // Replace image with new SVG
            $img.replaceWith($svg);

            // FIXME this is inefficient. we need only do it for the last svg loaded
            $(".lieroworm").each(function(index) {
                var color = $(this).attr('id');
                $(this).find("#svg_light_color").each(function(index) {
                    $(this).css({'fill' : shadeColor(color, -0.2)});
                });
                $(this).find("#svg_medium_color").each(function(index) {
                    $(this).css({'fill' : color});
                });
                $(this).find("#svg_dark_color").each(function(index) {
                    $(this).css({'fill' : shadeColor(color, 0.2)});
                });
            });
        }, 'xml');
    });
});
</script>
{% endblock %}
