{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "LieroGBG" %}{% endblock %}

{% block content %}
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>{% trans "Player" %}</th>
                <th>{% trans "Ranking points" %}</th>
                <th>{% trans "Pool points" %}</th>
                <th>{% trans "Wins" %}</th>
                <th>{% trans "Losses" %}</th>
                <th>{% trans "Ties" %}</th>
                <th>{% trans "Games" %}</th>
                <th>{% trans "Lives" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for p in players %}
            <tr>
                <td style="background-color:{{ p.player.color }}"></td>
                <td>{{ p.current_rank }}</td>
                <td>{{ p.player.name }}</td>
                <td>{{ p.player.ranking_points }}</td>
                <td>{{ p.player.pool_points }}</td>
                <td>{{ p.wins }}</td>
                <td>{{ p.losses }}</td>
                <td>{{ p.ties }}</td>
                <td>{{ p.games }}</td>
                {% if p.lives_positive %}
                    <td><span class="change_positive">+{{ p.lives }}</span></td>
                {% else %}
                    <td><span class="change_negative">{{ p.lives }}</span></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
