{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "LieroGBG" %} {% trans "ranking" %}{% endblock %}

{% block content %}
<div>
    <table id="id_ranking_table" class="table table-striped table-bordered sortable">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Player" %}</th>
                <th>{% trans "Ranking points" %}</th>
                <th>{% trans "Wins" %}</th>
                <th>{% trans "Losses" %}</th>
                <th>{% trans "Ties" %}</th>
                <th>{% trans "Matches" %}</th>
                <th>{% trans "Lives" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for p in players %}
            <tr>
                <td>{{ p.current_rank }}</td>
                <td>
                    <img id={{ p.player.color }} class="svg lieroworm lieroworm_right" src="{{ STATIC_URL }}/img/lieroworm_pointing_right.svg"></img>
                    {{ p.player.name }}
                </td>
                <td>
                    {{ p.player.ranking_points }}
                    {% if p.player.pool_points > 0 %}
                        <span class="pool_points_remaining">(+{{ p.player.pool_points }} pool)</span>
                    {% endif %}
                </td>
                </td>
                <td>{{ p.round_wins }}</td>
                <td>{{ p.round_losses }}</td>
                <td>{{ p.round_ties }}</td>
                <td>{{ p.games }}</td>
                {% if p.lives > 0 %}
                    <td><span class="change_positive">+{{ p.lives }}</span></td>
                {% elif p.lives < 0 %}
                    <td><span class="change_negative">{{ p.lives }}</span></td>
                {% else %}
                    <td>{{ p.lives }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="well">
    {% trans 'The last match was played ' %}<time class="timeago" datetime="{{ last_game_time }}"></time>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="{{ STATIC_URL }}/js/jquery.timeago.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/jquery.timeago.{{ LANGUAGE_CODE }}.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(".timeago").timeago();
});
</script>
{% endblock %}

