{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "About LieroGBG" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <p>
        Settings:<br/>

        Game Mode: Kill 'em All<br/>
        Lives: 8<br/>
        Loading Times: 20%<br/>
        Replays: ON<br/>
        Bonuses: None<br/>
        Map: ON<br/>
        Load+Change: ON<br/>
        Player Health: 100%<br/>
        Weapon Options: No bans<br/>
        </p>

        <p>
        Ranking Points:<br/>

        In order to calculate relative skill levels between players located in many different places we use a version of the Elo rating system similar to that used in competitive Chess. The difference in ranking points (RP) between two players serves as a predictor of the outcome of the game, and the player with the higher rank will have more to loose in the event of a loss. If all players win equally much, they will stabilize their RP at around 1000, as 1000 points is introduced into the system, successively for every player that joins it.
        </p>
        <p>
        So as not to have new players jump straight up to 1000 RP and overtake half of the players on the list, players unlock their points from an individual Pool (40 for every 1v1 game and a varied amount for tournaments) as more games are played.
        <p>
        Before a match/tournament begins, the proper amount of points (as long as its left) are taken from each player's pool and added to their RP. Then an amount of that total is bet as Ante in the Match/Tournament and given to the winner(s) once completed.
        </p>

        <p>
        That amount is calculated by by the following formula:<br/>
            RP ^ 2 / 1000 * x</p>
        where x is the Ante-% of that Match/Tournament:</br>
            2% for Match</br>
            2-5% for a Tournament</br>
        </p>

        <p>
        For a regular match this means that players with 1000 RP bets an Ante of 20 RP,
        players below that bets exponentially less and players above that bets exponentially more. (i.e. a player with 1200 bets 29, one at 1500 bets 45, one at 800 bets 13 and one at 500, 5.)
        </p>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
{% endblock %}

