{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "LieroGBG" %} :: {% trans "Login" %}{% endblock %}

{% block content %}
<div class="row">
    <form class="form-signin" role="form" action="{% url 'accounts.views.authenticate' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <h2>Please sign in</h2>
            <input type="text" name="username" id="username" class="form-control" placeholder="{% trans "Username"%}" autofocus="true" required>
            <input type="password" name="password" id="password" class="form-control" placeholder="{% trans "Password" %}" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me">{% trans "Remember me" %}
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                {% trans "Sign in" %}
            </button>
        </div>
    </form>
</div>
{% endblock %}

