{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "LieroGBG" %} {% trans "matches" %}{% endblock %}

{% block submenu %}
{% if user.is_authenticated %}
    <ul class="nav nav-pills navbar-left">
        <li id="add_game" >
            <a href="{% url 'rankings.views.add_game' %}">{% trans "Add match" %}</a>
        </li>
        <li id="add_tournament">
            <a href="{% url 'rankings.views.add_tournament' %}">{% trans "Add tournament" %}</a>
        </li>
    </ul>
{% endif %}
<ul class="nav nav-pills navbar-right">
    <li id="ranking" >
            <a href="{% url 'rankings.views.ranking' %}">{% trans "Ranking" %}</a>
    </li>
    <li id="games" >
            <a href="{% url 'rankings.views.games' %}">{% trans "Matches" %}</a>
    </li>
    <li id="tournaments" >
            <a href="{% url 'rankings.views.tournaments' %}">{% trans "Tournaments" %}</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        {% include 'rankings/includes/list_games_hidden.html' with games=games next_match=next_match prev_match=prev_match current_match=current_match full=True %}
    </div>
    <div class="col-xs-12">
        {% trans 'The last match was played ' %}<time class="timeago" datetime="{{ last_game_time }}"></time>
    </div>
</div>
{% endblock %}
{% block custom_scripts %}
<script type="text/javascript">
function init() {
    $('.btn').button();
    $('.show-result-btn').click(function() {
        $(".game-" + $(this).data('game-id') + "-hide-result").each(function() {
            $(this).hide();
        });
        $(".game-" + $(this).data('game-id') + "-show-result").each(function() {
            $(this).show();
        });
    });

    $('.show-subgame-result-btn').click(function() {
        $(".subgame-" + $(this).data('subgame-id') + "-show-result").each(function() {
            $(this).show();
            // show next subgame, if any
            $(this).parent().next().show();
        });
        $(".subgame-" + $(this).data('subgame-id') + "-hide-result").each(function() {
            $(this).hide();
        });
    });

    $('#id-show-all-results-btn').click(function() {
        var data = {'games' : $('#id_list_games').data('current-match'),
                    'show_all' : 'True'};
        $.ajax({
            type: "GET",
            url: "{% url 'rankings.views.get_games_list' %}",
            traditional: true,
            data: data,
            success: function(data) {
                $('#id-show-all-results-btn').hide();
                $("#id_list_games").replaceWith(data);
                init();
                update_images();
            },
            error: function(xhr, textStatus, errorThrown) {
                alert("Please report this error: " + errorThrown + xhr.status +
                      xhr.responseText);
        }});
    });
    $('#id-prev-match').click(function() {
        var data = {'games' : $(this).data('prev-match'),
                    'show_all' : $("#id_list_games").data('show-all')};
        $.ajax({
            type: "GET",
            url: "{% url 'rankings.views.get_games_list' %}",
            traditional: true,
            data: data,
            success: function(data) {
                $("#id_list_games").replaceWith(data);
                init();
                update_images();
            },
            error: function(xhr, textStatus, errorThrown) {
                alert("Please report this error: " + errorThrown + xhr.status +
                      xhr.responseText);
        }});
    });
    $('#id-next-match').click(function() {
        var data = {'games' : $(this).data('next-match'),
                    'show_all' : $("#id_list_games").data('show-all')};
        $.ajax({
            type: "GET",
            url: "{% url 'rankings.views.get_games_list' %}",
            traditional: true,
            data: data,
            success: function(data) {
                $("#id_list_games").replaceWith(data);
                init();
                update_images();
            },
            error: function(xhr, textStatus, errorThrown) {
                alert("Please report this error: " + errorThrown + xhr.status +
                      xhr.responseText);
        }});
    });
    $(".timeago").timeago();
}

$(document).ready(function() {
    init();
});
</script>
{% endblock %}
