{% load myfilters %}
{% load i18n %}

<div class="panel panel-primary">
    <div class="panel-heading">
        {% trans "Match info" %}
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-xs-3">
                {{ played_game_form.start_time.label_tag }}
            </div>
            <div class="col-xs-9">
                {{ played_game_form.start_time|addcss:'form-control' }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                {{ played_game_form.player_left.label_tag }}
            </div>
            <div class="col-xs-9">
                {{ played_game_form.player_left|addcss:'form-control' }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                {{ played_game_form.player_right.label_tag }}
            </div>
            <div class="col-xs-9">
                {{ played_game_form.player_right|addcss:'form-control' }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                {{ played_game_form.winner.label_tag }}
            </div>
            <div class="col-xs-9">
                {{ played_game_form.winner|addcss:'form-control' }}
            </div>
        </div>
        {% if show_ranked %}
            <div class="form-group">
                <div class="col-xs-3">
                    {{ played_game_form.ranked.label_tag }}
                </div>
                <div class="col-xs-9">
                    {{ played_game_form.ranked|addcss:'form-control' }}
                </div>
            </div>
        {% endif %}
        {% for field in played_game_form.hidden_fields %}
            <div style="display:none;">{{ field }}</div>
        {% endfor %}
    </div>
</div>
{{ subgame_formset.management_form }}
{% for form in subgame_formset %}
    <div class="panel panel-info subgame_item">
        <div class="panel-heading">
            {% trans "Round info" %}
        </div>
        <div class="panel-body">
            {% for field in form.visible_fields %}
                <div class="form-group">
                    <div class="col-xs-3">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-xs-9">
                        {{ field|addcss:'form-control' }}
                    </div>
                </div>
            {% endfor %}
            {% for field in form.hidden_fields %}
                <div style="display:none;">{{ field }}</div>
            {% endfor %}
            <div>
                <a class="btn btn-default delete_subgame_form" href="">{% trans "Delete round" %}</a>
            </div>
        </div>
    </div>
{% endfor %}
<div>
    <a class="btn btn-default" id="add_subgame_form" href="">{% trans "Add round" %}</a>
</div>
