{% load render_bundle from webpack_loader %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LieroGBG</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  {% if debug %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
  {% else %}
    <!-- minified version of css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
  {% endif %}
  <link href="{% static 'css/lierogbg.css' %}" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700|VT323|Chicle|Special+Elite|Oswald|Open+Sans:400,700' rel='stylesheet' type='text/css'>

  {% render_bundle 'main' 'css' %}

  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
  <div id="root"></div>
  {% render_bundle 'main' 'js' %}
</body>
</html>
