{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% trans "LieroGBG" %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <!-- minified version of css -->
        <!--<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">-->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/lierogbg.css' %}" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700|VT323|Chicle|Special+Elite|Oswald|Open+Sans:400,700' rel='stylesheet' type='text/css'>
        {% block custom_css %}{% endblock %}

        <!-- Fav icons -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <!-- Javascript, needs to be first -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/sorttable.js' %}"></script>
        <script src="{% static 'js/lierogbg.js' %}"></script>
        {% block custom_scripts %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div id="main_menu" class="navbar navbar-default" role="navigation">
                <ul class="nav nav-pills navbar-right">
                    <li id="about" >
                        <a href="{% url 'index.views.about' %}">{% trans "LieroGBG" %}</a>
                    </li>
                    <li id="rankings" >
                        <a href="{% url 'index.views.ranking' %}">{% trans "Rankings" %}</a>
                    </li>
                    <li id="rules" >
                        <a href="{% url 'index.views.rules' %}">{% trans "Rules" %}</a>
                    </li>
                    <li id="maps" >
                        <a href="{% url 'index.views.maps' %}">{% trans "Maps" %}</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li id="administration" >
                            <a href="/admin">{% trans "Administration" %}</a>
                        </li>
                        <li id="logout">
                            <a href="{% url 'accounts.views.logout' %}">{% trans "Logout" %}</a>
                        </li>
                    {% else %}
                        <li id="login">
                            <a href="{% url 'accounts.views.login' %}">{% trans "Login" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div id="sub_menu" class="navbar" role="navigation">
                {% block submenu %}{% endblock %}
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>

