{% load i18n %}
{% load staticfiles %}
<div class="row" id="id_list_games" data-current-match="{{ current_match }}" data-show-all="{{ show_all }}">
    <div class="col-xs-12">
        <button type="button" class="btn btn-block" id="id-show-all-results-btn">{% trans "Show all results" %}</button>
    </div>
    <div class="col-xs-12">
        <table class="table" id="id_list_games_table">
            <thead>
                <tr>
                    <th>{% trans "Time" %}</th>
                    <th class="align_left">{% trans "Left player" %}</th>
                    <th class="align_left">{% trans "Right player" %}</th>
                    {% if full %}
                        <th>{% trans "Match type" %}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for g in games %}
                    <tr data-toggle="collapse" data-target="#more-info-{{forloop.counter}}">
                        <td>{{ g.game.start_time }}</td>
                        <td class="align_left">
                            <img id={{ g.game.player_left.color }} class="svg lieroworm lieroworm_right" src="{% static '/img/lieroworm_pointing_right.svg' %}"></img>
                            {{ g.game.player_left }}
                        </td>
                        <td class="align_left">
                            <img id={{ g.game.player_right.color }} class="svg lieroworm lieroworm_right" src="{% static '/img/lieroworm_pointing_right.svg' %}"></img>
                            {{ g.game.player_right }}
                        </td>
                        {% if full %}
                            <td>
                                {% if g.game.tournament %}
                                    {% trans "Tournament" %}
                                {% elif g.game.ranked %}
                                    {% trans "Ranked" %}
                                {% else %}
                                    {% trans "Unranked" %}
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                    <tr class="collapse" id="more-info-{{forloop.counter}}">
                        <td colspan="6">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            {% trans "Round" %}
                                        </div>
                                        <div class="col-xs-3">
                                            {% trans "Map" %}
                                        </div>
                                        <div class="col-xs-3">
                                            {% trans "Score" %}
                                        </div>
                                        <div class="col-xs-3">
                                            {% trans "Download" %}
                                        </div>
                                    </div>
                                    {% for sg in g.subgames %}
                                        {% if forloop.counter > 3 %}
                                            <div class="row game-{{ g.game.id }}-show-result unimportant-hide">
                                        {% else %}
                                            <div class="row">
                                        {% endif %}
                                            <div class="col-xs-3">
                                                {% trans "Round" %} {{ forloop.counter }}
                                            </div>
                                            <div class="col-xs-3">
                                                {{ sg.map_played }}
                                            </div>
                                            <div class="col-xs-3 subgame-{{ sg.id }}-show-result game-{{ g.game.id }}-show-result unimportant-hide">
                                                <img id={{ g.game.player_left.color }} class="svg lieroworm lieroworm_right" src="{% static '/img/lieroworm_pointing_right.svg' %}"></img>
                                                {{ sg.pl_lives }} - {{ sg.pr_lives }}
                                                <img id={{ g.game.player_right.color }} class="svg lieroworm lieroworm_left" src="{% static '/img/lieroworm_pointing_left.svg' %}"></img>
                                            </div>
                                            <div class="col-xs-3 subgame-{{ sg.id }}-hide-result game-{{ g.game.id }}-hide-result">
                                                <button type="button" class="btn btn-block show-subgame-result-btn" data-subgame-id="{{ sg.id }}">{% trans "Show" %}</button>
                                            </div>
                                            <div class="col-xs-3">
                                                {% if sg.replay_file %}
                                                    <a href="{{ sg.replay_file.url }}"><span class="glyphicon glyphicon-save"></span></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="row game-{{ g.game.id }}-hide-result">
                                        <div class="col-xs-12">
                                            <button type="button" class="btn btn-block show-result-btn" data-game-id="{{ g.game.id }}">{% trans "Show results" %}</button>
                                        </div>
                                    </div>
                                    <div class="row game-{{ g.game.id }}-show-result">
                                        <div class="col-xs-4">
                                            <img id={{ g.game.player_left.color }} class="svg lieroworm lieroworm_right" src="{% static '/img/lieroworm_pointing_right.svg' %}"></img>
                                                {{ g.game.player_left }}
                                                {% if g.rp_pl_change > 0 %}
                                                    {{ g.rp_pl_after }} <span class="change_positive">(+{{ g.rp_pl_change }})</span>
                                                {% elif g.rp_pl_change < 0 %}
                                                    {{ g.rp_pl_after }} <span class="change_negative">({{ g.rp_pl_change }})</span>
                                                {% else %}
                                                    {{ g.rp_pl_after }} (-)
                                                {% endif %}
                                        </div>
                                        <div class="col-xs-4">
                                            <img id={{ g.game.player_right.color }} class="svg lieroworm lieroworm_right" src="{% static '/img/lieroworm_pointing_right.svg' %}"></img>
                                                {{ g.game.player_right }}
                                                {% if g.rp_pr_change > 0 %}
                                                    {{ g.rp_pr_after }} <span class="change_positive">(+{{ g.rp_pr_change }})</span>
                                                {% elif g.rp_pr_change < 0%}
                                                    {{ g.rp_pr_after }} <span class="change_negative">({{ g.rp_pr_change }})</span>
                                                {% else %}
                                                    {{ g.rp_pr_after }} (-)
                                                {% endif %}
                                        </div>
                                        <div class="col-xs-4">
                                                {% trans "Winner:" %} {{ g.game.winner }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-6">
            {% if prev_match > -1 %}
                <button type="button" class="btn btn-block" data-prev-match="{{ prev_match }}" id="id-prev-match"> &lArr;</button>
            {% else %}
                <button type="button" class="btn btn-block" id="id-prev-match" disabled="disabled"> &lArr;</button>
            {% endif %}
        </div>
        <div class="col-xs-6">
            {% if next_match > -1 %}
                <button type="button" class="btn btn-block" data-next-match="{{ next_match }}" id="id-next-match"> &rArr;</button>
            {% else %}
                <button type="button" class="btn btn-block" id="id-next-match" disabled="disabled"> &rArr;</button>
            {% endif %}
        </div>
    </div>
</div>
